

{% block body %}
    <div class="container"  style="margin:auto ">
        <br>
        <br>
        <br>
        <center><h1 style="color:red;">pas de place disponible </h1></center>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}