

{% block body %}
   <div class="container"  style="margin:auto ">
       <br>
       <br>
       <br>
  <center><h1 style="color:blue;">bien inscrit</h1></center>

       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
   </div>
{% endblock %}