<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('Admin/css/style1.css')}}" >
    <link rel="stylesheet" type="text/css" href="{{ asset('Admin/css/demo1.css')}}" >
    <link rel="stylesheet" type="text/css" href="{{ asset('Admin/css/drop.css')}}" >

    <title>Ajout Bon Plan</title>
</head>
<body>
<div class="container">
    <header>
        <h1><span align="center">All For Kids</span></h1><br>
        <span align="center"> <h1>Espace Administration des loisirs </h1></span>

    </header>

    <div  class="form">
        <fieldset style="width: 20%">
            <legend>Ajouter un Bon Plan</legend><br>

            <form action="" method="post" >

                <p class="contact"><label>Categorie</label></p><br><input type="text" name="categorie" /><br>

 <p class="contact"><label>Region</label></p><br><input type="text" name="region" /><br>
                <p class="contact"><label>Adresse</label></p><br><textarea rows="4" cols="50" name="adresse" ></textarea><br>
                <br> <input type="Submit" name="ajouter" value="Ajouter"/>


            </form>

        </fieldset>
    </div>
</div>



</body></html>

